.git
.github
src/
target/classes/
target/test-classes/
target/surefire-reports/
target/maven-archiver/
target/maven-status/
target/site/
target/*.original
pom.xml
checkstyle.xml
*.md
.gitignore
.idea/
*.iml
